FOODSTORE_DATABASE=
FOODSTORE_HOST=
FOODSTORE_PORT=
FOODSTORE_USER=
FOODSTORE_PASSWORD=


JWT_SECRET_ACCESS=
JWT_SECRET_REFRESH=
JWT_SECRET_RECOVERY=

SECRET_KEY=

LOG_LEVEL=
LOG_FOLDER=

EMAIL_SENDER=
EMAIL_PASSWORD=
EMAIL_HOST=
EMAIL_PORT=
